.container {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
    overflow: hidden; /* Ensures the image doesn't create scrollbars */
  }
  
  @keyframes float {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(10px, -10px);
    }
    50% {
      transform: translate(-10px, 10px);
    }
    75% {
      transform: translate(-10px, -10px);
    }
    100% {
      transform: translate(10px, 10px);
    }
  }
  
  .floatingImage {
    position: absolute;
    left: 20%;
    width: 350px; /* Adjust the size as needed */
    height: auto;
    transform: translate(-50%, -50%); /* Center the image */
    animation: float 5s infinite ease-in-out;
  }
  