.footbar {
    width: 100%;
    background: #000000;
    color: #ffffff;
    padding: 20px;
}
    


  
  .topSection {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
  }
  
  .leftSection, .middleSection, .rightSection {
    width: 30%;
  }
  
  .leftSection .logoContainer a {
    display: flex;
    align-items: center;
    padding: 0px;
  }

  
  .logoContainer img {
    height: 190px;
    width: auto;
    max-height: 100%;
    max-width: 100%;
  }
  
  .contactInfo p {
    margin: 0;
    margin-bottom: 5px;
  }
  
  .middleSection {
    display: flex;
    gap: 35px;
  }

  .pageLinks, .projectLinks {
    display: flex;
    flex-direction: column;
  }
  
  .pageLinks a, .projectLinks a {
    display: block;
    margin-bottom: 10px;
  }
  
  .feedbackBox {
    background-color: #75787B;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 16px;
  }
  
  .feedbackBox p {
    margin: 0 0 10px 0;
  }
  
  .feedbackButton {
    background-color: #EB0D07;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 16px;
  }

  .socialLinks a {
    margin-right: 30px;
  }

  .socialLinks img {
    height: 50px;
    width: auto;
    max-height: 100%;
    max-width: 100%;
  }
  
  .bottomSection {
    text-align: center;
    padding-top: 10px;
  }
  
  .bottomSection a {
    margin: 0 10px;
  }
  