.banner{
    height: 500px;
    background-image: url('/Partner background.jpg'); /* Update the path to your image */
    background-size: cover; /* Ensures the image covers the container */
    background-position: center;
    color: #fff;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    flex-direction: column;
  }

  
  
  .content {
    position: relative;
    color: #000;
    text-align: center;
    padding: 20px;
   
  }
  