.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.banner {
  height: 500px;
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.investigationStations {
  width: 100%;
  background-color: #0358a0;
  border-radius: 20px;
  margin: 30px 0;
  padding: 20px;
  color: #fff;
}

.investigationStations h2 {
  margin: 0 0 10px;
}

.stationList {
  display: flex;
  flex-direction: column;
}

.stationItem {
  margin: 10px 0;
  cursor: pointer;
}

.activeStation {
  font-weight: bold;
  text-decoration: underline;
}

.details {
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* Align items at the top */
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.videoSection {
  flex: 1;
  margin-right: 200px;
}

.videoSection h2 {
  margin: 0 0 10px;
}

.videoWrapper {
  margin-bottom: 20px;
}

.textContainer {
  flex: 1;
  text-align: left;
}

.textContainer h1 {
  margin: 0 0 10px;
}

.textContainer p {
  max-width: 600px;
  line-height: 1.6;
}

.pptSection {
  margin-top: 20px;
}

.pptSection h2 {
  margin: 0 0 10px;
}

.pptLinkContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.pptButton img {
  width: 32px;
  height: 32px;
  margin-left: 10px;
}

.carousel {
  width: 100%;
  max-width: 800px;
  margin: 40px auto;
  text-align: center;
}

.carousel h2 {
  margin-bottom: 20px;
}
